{% extends "base.html" %}
{% block title %}ToDo List{% endblock %}
{% block head_resources %}
{% load static %}
<% htmlWebpackPlugin.tags.headTags.forEach( tag => { %>
    <% if (tag.tagName == 'link') {%>
        <link href="{% static "<%= tag.attributes.href %>" %}" rel="stylesheet">
    <% } %>
<% }) %>
{% endblock %}
{% block content %}
    {{user.email}}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <!-- {% if not perms %}
        <a class="btn btn-outline-primary" href="{% url 'login' %}">تسجيل الدخول</a>
        {% endif %} -->
        <a class="btn btn-outline-primary" href="{% url 'logout' %}">Logout</a>
    </div>
    <div id="add-todo"></div>
    <div>by Abdulrahman Alamoudi</div>
{% endblock %}
{% block body_resources %}
{% csrf_token %}
{{ initial_todos|json_script:"initial-todos" }}
{% load static %}
<% htmlWebpackPlugin.tags.bodyTags.forEach( tag => { %>
    <% if (tag.tagName == 'script') {%>
        <script src="{% static "<%= tag.attributes.src %>" %}"></script>
    <% } %>
<% }) %>
{% endblock %}
