{% extends "base.html" %}
{% block title %}ToDo List{% endblock %}
{% block head_resources %}
{% load static %}
<% htmlWebpackPlugin.tags.headTags.forEach( tag => { %>
    <% if (tag.tagName == 'link') {%>
        <link href="{% static "<%= tag.attributes.href %>" %}" rel="stylesheet">
    <% } %>
<% }) %>
{% endblock %}
{% block content %}
<div id="add-todo" style="height: 100%;"></div>
{% endblock %}
{% block body_resources %}
{% csrf_token %}
{{ initial_todos|json_script:"initial-todos" }}
{{ logout_url|json_script:"logout-url" }}
{{ email|json_script:"email" }}
{% load static %}
<% htmlWebpackPlugin.tags.bodyTags.forEach( tag => { %>
    <% if (tag.tagName == 'script') {%>
        <script src="{% static "<%= tag.attributes.src %>" %}"></script>
    <% } %>
<% }) %>
{% endblock %}
