{% extends "base.html" %}
{% block title %}ToDo List{% endblock %}
{% block head_resources %}
{% load static %}

    
        <link href="{% static "dist/css/vendors~todoReact.bundle.css" %}" rel="stylesheet">
    

    
        <link href="{% static "dist/css/todoReact.bundle.css" %}" rel="stylesheet">
    

{% endblock %}
{% block content %}
<div id="add-todo"></div>
{% endblock %}
{% block body_resources %}
{% csrf_token %}
{{ initial_todos|json_script:"initial-todos" }}
{{ logout_url|json_script:"logout-url" }}
{{ email|json_script:"email" }}
{% load static %}

    
        <script src="{% static "dist/js/vendors~todoReact~todoVue.bundle.js" %}"></script>
    

    
        <script src="{% static "dist/js/vendors~todoReact.bundle.js" %}"></script>
    

    
        <script src="{% static "dist/js/todoReact.bundle.js" %}"></script>
    

{% endblock %}
